{% include 'header.html' %}
    <nav class="my-2 my-md-0 me-md-3">
      <a class="p-2 text-dark" target="_blub" href="https://www.mmm.ucar.edu/">National Center for Atmospheric Research</a>
      <a class="p-2 text-dark" target="_blub" href="https://www2.mmm.ucar.edu/wrf/OnLineTutorial/compilation_tutorial.php">Tutorial</a>
    </nav>
    <a class="btn btn-outline-primary" target="_blub" href="https://github.com/SettRaziel/wrf_archlinux">Make your own</a>
  </header>

  <main class="container">
    <div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
      <h1 class="display-4">Weather Prediction for Motionlab</h1>
    </div>

    <table class="table table-striped">
      <thead>
        <tr>
          <th class="text-center">Date                </th>
          <th class="text-center">Meteogram           </th>
          <th class="text-center">Surface Temperature </th>
          <th class="text-center">Rain 3h             </th>
          <th class="text-center">Rain Total          </th>
          <th class="text-center">Thunderstorm        </th>
        </tr>
      </thead>

      <tbody>
          {% for d in pred %}  
          <tr>
            <td class="align-middle">{{d.day}}.{{d.month}} {{d.hour}}h</td>
  
            <td class="text-center align-middle"> <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/{{d.month}}_{{d.day}}_{{d.hour}}_meteogram_Ber.png" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/{{d.month}}_{{d.day}}_{{d.hour}}_meteogram_Ber.png" alt="stacked" width=300 class="img-thumbnail"></a>
            </td>

            <td class="text-center align-middle"> <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/comp.gif" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/comp.gif" alt="stacked" width=300 class="img-thumbnail"></a>
            </td>

            <td class="text-center align-middle"> <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_3h.gif" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_3h.gif" alt="stacked" width=300 class="img-thumbnail"></a>
            </td>

            <td class="text-center align-middle"> <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_tot.gif" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_tot.gif" alt="stacked" width=300 class="img-thumbnail"></a>
            </td>

            <td class="text-center align-middle"> <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/thunderstorm_index.gif" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/thunderstorm_index.gif" alt="stacked" width=300 class="img-thumbnail"></a>
            </td>

            <!-- <td class="text-center align-middle"> 
            {% for i in range(d.comp|length) %}
                <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/comp/{{d.comp[i]}}" target="_blub">
                <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/comp/{{d.comp[i]}}" alt="stacked" width=100 class="img-thumbnail"><br>
                {{d.comp_name[i]}}<br>
                </a>
            {% endfor %}
            </td>

            <td class="text-center align-middle"> 
              {% for i in range(d.rain3h|length) %}
              <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_3h/{{d.rain3h[i]}}" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_3h/{{d.rain3h[i]}}" alt="stacked" width=100 class="img-thumbnail"><br>
              {{d.rain3h_name[i]}}<br>
            </a>
            {% endfor %}
            </td>

            <td class="text-center align-middle"> 
              {% for i in range(d.raintot|length) %}
            <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_tot/{{d.raintot[i]}}" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/rain_tot/{{d.raintot[i]}}" alt="stacked" width=100 class="img-thumbnail"><br>
              {{d.raintot_name[i]}}<br>
            </a>
            {% endfor %}
            </td>

            <td class="text-center align-middle"> 
              {% for i in range(d.thunder|length) %}
            <a href="{{d.month}}_{{d.day}}_{{d.hour}}_test/thunderstorm_index/{{d.thunder[i]}}" target="_blub">
              <img src="{{d.month}}_{{d.day}}_{{d.hour}}_test/thunderstorm_index/{{d.thunder[i]}}" alt="stacked" width=100 class="img-thumbnail"><br>
              {{d.thunder_name[i]}}<br>
            </a>
            {% endfor %}
            </td> -->

          </tr>
  
          {% endfor %}

      </tbody>
    </table>

    {% include "footer.html" %} 
